* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  /* variables */
  --brand-primary: hsla(261, 66%, 44%, 0.986);
  --brand-glass: hsla(261, 66%, 44%, 0.507);
}

body {
  font-size: 1.6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;

  background-image: url(./img/fundo.jpg);
  background-repeat: repeat;
  animation: slide 200s linear infinite;

  text-align: center;
  color: white;
}

@keyframes slide {
  100% {
    background-position: 0px -3000px;
  }
}

h1 {
  filter: brightness(0.9);
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.1rem;
  margin-bottom: 1.5rem;
}

p {
  filter: brightness(0.7);
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1.8rem;
  margin-bottom: 1.8rem;
}

.wrapper {
  margin: 0;
}

.box {
  height: 100vh;
  width: 100vw;

  padding: 2rem;
  background-color: var(--brand-glass);
}

.box img {
  width: 12rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.box p,
h1 {
  text-align: center;
}

.content {
  padding-inline: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.ask-button,
.question {
  padding: 2rem;
  border-radius: 0.6rem;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 1.2rem;
  border: transparent;
  transition: 0.3s;
}

#question.attention {
  outline: 3px solid red;
  outline-offset: 3px;
  transition: 0.3s;
}

.ask-button:focus-visible,
.question:focus-visible {
  outline: 3px solid var(--brand-primary);
  outline-offset: 3px;
}

.ask-button {
  cursor: pointer;
  color: white;
  background-color: var(--brand-primary);
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.733));
  transition: 0.5s;
}

.ask-button:hover {
  filter: brightness(1.3) drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.733));
}

.ask-button:active {
  filter: brightness(0.9) saturate(0.8);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.733));
}

.ask-button:disabled {
  filter: brightness(0.7);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.733));
  cursor: wait;
  background-color: rgba(137, 43, 226, 0.493);
}

#answer {
  width: 100%;
  min-height: 4rem;

  font-size: 2rem;
  padding-block: 1rem;

  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;

  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.733));

  transition: opacity 1s;
}

#answer div {
  font-size: 1.6rem;
  font-weight: normal;
  opacity: 0.9;
  margin-bottom: 0.625rem;
}

/*========================= Media query ==============================*/
@media (prefers-reduced-motion) {
  body {
    animation: slide 800s linear infinite;
  }
}

@media screen and (min-width: 575px) {
  .wrapper {
    margin: 0 auto;
  }

  .box {
    width: initial;
    min-width: 545px;
    max-width: 745px;
    width: 75vw;
    height: 90%;
    padding-bottom: 5rem;

    margin: 5rem auto;

    border-radius: 1rem;
  }

  #answer {
    height: 8rem;
  }
}
